# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if added later)
Pods/
Carthage/Build/

# fastlane (if added later)
fastlane/report.xml
fastlane/screenshots/**/*.png
